<% include ../partials/header%>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Symptoms</p>
            <div class="list-group">
                <li class="list-group-item active">Vomiting</li>
                <li class="list-group-item">High Fever</li>
                <li class="list-group-item active">Headache</li>
                <li class="list-group-item">Blurred vision</li>

                <li class="list-group-item">Muscle and Joint Pain</li>
                <li class="list-group-item">Anxiety</li>
                <li class="list-group-item">Palpitations</li>
                <li class="list-group-item active">Cough</li>
                <li class="list-group-item">Fainting</li>
                <li class="list-group-item">Stomach pain</li>
                
                
                

            </div>

        </div>
        <div class="col-md-4 col sm-6" style="margin-left:200px">
            <div class="thumbnail">
                    <img class="img-responsive"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYqGKCeGuydt0Aeis_hFT7utLhvW3ny40XPh6V8CG07VPODLW3">
                    <div class="caption-full">
                        
                        <h4><a>Viral Fever</a></h4>
                    </div>
                    
            </div>
            <div class="well">
                    <div class="alert alert-primary" role="alert">
                            <h4 class="alert-heading">Prescription</h4>
                            <title></title>
                            <p>Use of tablets : Ibuprofin,Crocin,Acetaminophe</p>
                            <hr>
                            <p class="mb-0">Use of Garlic,Oranges,Honey,Ginger</p>
                          </div>

                          
                <div class="row">
                        <div class="col-md-10">
                                <strong></strong>
                                <p> </p>

                        </div>
                    </div>
                    
                    
            </div>

        </div>

    </div>

</div>

<% include ../partials/footer%>